.profile {
  width: 300px;

  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.description {
  padding: 30px;
  text-align: center;

  background-color: white;
}

.avatar {
  display: block;
  max-width: 100%;
  height: auto;
}

.name {
  margin-top: 10px;

  font-size: 18px;
  font-weight: 700;
}

.tag {
  margin-top: 10px;
}

.location {
  margin-top: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  height: 100px;

  background-color: rgba(206, 217, 236, 0.466);
}

.stats__item {
  width: calc(100% / 3);
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid rgb(194, 191, 191);
}

.stats__item:not(:last-child) {
  border-right: 1px solid rgb(194, 191, 191);
}

/* .label {
  font-size: 16px;
} */

.quantity {
  margin-top: 5px;

  font-weight: 700;
}
